@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html,body{
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100000;
}
.container{
    width: 100%;
    margin-top: 20%;
}
h1{
    text-align: center;
    width: 100%;
    font-size: 70px;
    color: white;
    margin-top: 50%;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
     color: #fff;
   text-shadow: 0 0 10px #fdee12, 0 0 20px #fdee12, 0 0 30px #fdee12, 0 0 40px #fdee12, 0 0 50px #fdee12, 0 0 60px #fdee12, 0 0 70px #fdee12, 0 0 90px #fdee12;
 }
 
 to {
    color:rgb(202, 194, 194);
   text-shadow: 0 0 20px #fdee12, 0 0 30px #fdee12, 0 0 40px #fdee12, 0 0 50px #fdee12, 0 0 60px #fdee12, 0 0 70px #fdee12, 0 0 80px #fdee12, 0 1 90px #fdee12;
 }
}

#inputField{
    color: rgb(58, 53, 53);
    width: 100%;
    border: 1px solid rgb(236, 220, 220);
    background-color: rgb(236, 220, 220);
    font-size: 25px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    vertical-align: middle;
}
#addToDo{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
button{
    font-weight: bold;
    margin: 3% 0% 2% 0%;
    width:20%;
    cursor: pointer;
    background-color: rgb(37, 36, 36);
    border: 1px solid rgb(37, 36, 36);
    color: aliceblue;
    border-radius: 10px;
    padding: 1%;
}
button:hover{
    font-weight: bold;
    transform: scale(1.1,1.1);
    background-color: #fdee12;
    color: rgb(37, 36, 36);
    border: 1px solid #fdee12;
}
.to-dos{
    margin-top: 5%;
    border: 1px solid white;
    line-height: 290%;
}
.to-dos:active{
    border: 1px solid white;
    transform: scale(1.1,1.1);
}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 30px;
    text-align: center;
    color: aliceblue;
}
.paragraph-styling:hover{
    transform: scale(1.1, 1.1);
    color: #fdee12;
}